
{% extends 'base.html.twig' %}

{% block title %}Hello BlogController! {% endblock %}

{% block body %}
<section class="article">
<article>
    <h2>titre de l'article</h2>
    <div class="metadata"> ecrit le 10/02/2020</div>
    <div class="content">
        <img src="http://placehold.it/350x300" alt="">
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Quidem quae a commodi voluptatibus.</p>
        <a href="{{path('blog_show')}}" class="btn btn-primary">lire la suite</a>
    </div>
</article>
<article>
    <h2>titre de l'article</h2>
    <div class="metadata"> ecrit le 10/02/2020</div>
    <div class="content">
        <img src="http://placehold.it/350x300" alt="">
        <p>Minus nam ipsa obcaecati dicta.</p>
        <p>Dolores quos laborum quasi dolorem?</p>
        <a href="{{path('blog_show')}}" class="btn btn-primary">lire la suite</a>
    </div>
</article>

</section>
{% endblock %}
