{% extends 'base.html.twig' %}
{% block body %}
<article>
    <h2>titre de l'article</h2>
    <div class="metadata"> ecrit le 10/02/2020</div>
    <div class="content">
        <img src="http://placehold.it/350x300" alt="">
        <p>Consequatur aut quisquam enim veritatis?</p>
        <p>Quas ipsa eius suscipit consequatur!</p>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, reiciendis? Molestiae unde laboriosam numquam asperiores earum vel nobis, at, doloribus provident, deserunt cumque dicta iure assumenda tempora architecto ipsa cupiditate ab natus dolorem fuga! Asperiores reiciendis quasi illo id ullam! Consectetur qui impedit, beatae veritatis possimus culpa et sunt? Magni!</p>
      <p>Nemo assumenda facere expedita libero quidem hic optio a autem excepturi tempore explicabo eligendi quam suscipit eum id aliquid deleniti porro numquam, distinctio maxime tenetur ratione! Debitis quisquam, earum nobis culpa porro sit, aspernatur mollitia quis itaque laboriosam maxime aliquid optio distinctio facilis, dicta doloremque error! Sequi ipsa doloremque repellendus?</p>
      
  
    </div>
</article>
 {% endblock %}